body{
    margin: auto;
    max-width: 580px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;

}
#avator{
    width:60px;
}
h1,h2,p,footer{
    text-align:center;
}
ul{
    list-style-type: none;
    padding:0;
    margin-bottom:10px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0.12);

}
ul li{
    padding:10px 20px;
    border-bottom:1px solid #ddd
}
li:last-child{
    border-bottom:none;
}
li:hover{
    background-color:#f8f9fa;
}

